.featured_posts {
  width: 100%;
  /*  */
  align-items: center;
  flex-direction: column;
  /* padding-top: 70px; */
  /*  */
  display: flex;
  /* justify-content: center; */
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1754px) {
  .featured_posts {
    max-width: 1440px;
  }
}
.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
  .posts > div {
    margin: 1rem 55px !important;
  }
}
@media screen and (max-width: 999px) {
  .posts {
    flex-direction: column;
  }
  .featured_posts h2 {
    font-size: 36px;
  }
}
