.primary_item {
    /* width: 92px; */
    height: 29px;
    padding: 12px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 181.6%;
    /* identical to box height, or 29px */

    letter-spacing: 0.01em;

    color: #313131;
}

.secondary_item{
    height: 29px;
    padding: 12px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 181.6%;
    /* identical to box height, or 29px */
    letter-spacing: 0.01em;
    color: #FCFCFC !important;
}

@media screen and (max-width: 999px) {
    .primary_item{
        color: #ffffff;
        margin: 0px;
        font-size: 1.2rem;
    }
}
.button {
    width: 185px;
    height: 44px;
    background: #313131;
    color: #F0F0F0;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 30px;
}

.button img {
    display: block !important;
    margin-left: 10px;
    transform: translateX(0px);
    transition: transform 1s;
}

.button:hover{
  background: #464646;
}
.button:hover img {
    transform: translateX(5px);
}
