.carousel {
  /* background-color: red; */
  width: 100%;
  /* height: 800px; */
  display: flex;
  padding: 80px 0 50px;
  align-items: center;
  margin-bottom: 10px;
  border: none;
}
.carousel .left {
  /* background-color: green !important; */
  padding: 0px 20px;
  width: 50%;
  /* display: grid; */
  /* grid-template-rows: 200px 100px 100px; */
  /* place-items: center; */
}

.carousel .right {
  padding: 0px 20px;
  /* background-color: red !important; */
  width: 50%;
  display: grid;
  place-items: center;
}
.carousel h1 {
  /*height: 216px;*/
  font-family: Proxima Novo;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 112%;
  letter-spacing: 0.01em;
  color: #313131;
}
.carousel p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #313131;
}
.carousel a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: 0.15em;

  color: #313131;
  border-bottom: 3px solid #313131;
  padding-bottom: 9px;
}
.carousel a span img {
  margin: 0px 10px;
  width: 23px;
  /* height: 2px; */
}
.carousel img {
  /* height: 625px; */
  width: 80%;
  /* background: blue; */
}
.carousel button {
  /* position: relative; */
  width: 57px;
  height: 78px;
  background: #313131;
  font-size: 34px;
  color: #ffffff;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkWrapper {
  display: flex;
  align-items: center;
}

.linkWrapper img {
  height: 20px;
  transform: translateX(20px);
  width: auto;
  transition: transform 1s;
}

.carousel a:hover + img {
  transform: translateX(5px);
}

@media screen and (min-width: 999px) {
  .carousel h1 {
    /* width: 629px; */
    width: 419px;
  }
  .carousel p {
    /* font-size: 20px; */
    /* height: 144px; */
  }
}
@media screen and (max-width: 999px) {
  .carousel h1 {
    font-size: 3rem;
    /* min-width: 300px; */
  }
  .carousel p {
    /* min-width: 300px; */
    font-size: 1.2rem;
  }
  .carousel img {
    display: none;
  }
  .carousel a {
    /* min-width: 300px; */
    font-size: 1rem;
  }
  .carousel {
    padding: 0px;
    margin-bottom: 50px;
    /* max-width: 100%; */
    width: 100%;
  }
  .carousel .left {
    /* min-width: 100%; */
    width: 100%;
  }
  .carousel .right {
    display: none;
  }
  .carousel button {
    display: none;
  }
}
