.footer section {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 25px;
  max-width: 1440px;
padding-left: 25px;
padding-right: 25px;  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  background: #3546ac;
  width: 100%;
}
@media screen and (max-width: 999px) {
  .footer section {
    flex-direction: column;
    padding: 25px;
  }
}
