.container {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 0px 0px;
}
.container .what_we_do .card_list {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 22px auto;
  padding: 11px 0px;
}
@media screen and (min-width: 1754px) {
  .container .what_we_do .card_list {
    max-width: 1440px;
  }
}
.container .what_we_do .card_list div {
  margin: 30px 15px 10px;
}
.container .what_we_do .card_list_container {
  background: #d2dae2;
}
.container .what_we_do > div {
  padding: 0px !important;
}
.container .what_we_do {
  width: 100%;
  /* display: flex;
    justify-content: center; */
  /* place-items: center; */
}

@media screen and (max-width: 999px) {
  .container .what_we_do .card_list {
    justify-content: center;
  }
}
