.container {
  width: 100%;
  /* display: grid; */
  /* place-items: center; */
  margin-bottom: 90px;
  max-width: 1200px;
}
.project_card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.project_card_flip {
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 1754px) {
  .container,.project_card,.project_card_flip {
  max-width: 1440px;
}
}

.project_card section h3,
.project_card_flip section h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 152.6%;
  /* or 46px */

  letter-spacing: 0.01em;

  color: #38465e;
  margin: 10px 0px;
}

.project_card section p,
.project_card_flip section p {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 181.6%;
  /* or 44px */

  letter-spacing: 0.01em;

  color: #38465e;
  margin: 5px 0px 10px;
}

.project_card section a,
.project_card_flip section a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #313131;
  /* border-bottom: 1px solid; */
  padding-bottom: 9px;
}
.project_card_flip .images .case,
.project_card .images .case,
.project_card .images .backdrop,
.project_card_flip .images .backdrop {
  /* box-shadow: -30.634117px 55.9874px 10px rgba(141, 138, 138, 0.8); */
  width: 90%;
  max-width: 350px;
  /* max-height: 450px; */
  object-fit: cover;
  border-radius: 6px;
}
.project_card .images .backdrop,
.project_card_flip .images .backdrop {
  height: 100%;
}
.project_card .images,
.project_card_flip .images {
  position: relative;
  top: 0;
  left: 0;
}
.project_card .images .case,
.project_card_flip .images .case {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0px 1px 0px;
}
.project_card .images .backdrop {
  position: absolute;
  top: 5%;
  left: -5%;
  z-index: 0;
}
.project_card_flip .images .backdrop {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 0;
}
.project_card .text {
  margin: 0px;
  width: 450px;
}
.project_card_flip .text {
  width: 450px;
  margin: 0px 40px 0px 0px;
}
.project_card .text .icon,
.project_card_flip .text .icon {
  max-width: 40px;
  max-height: 40px;
}

@media screen and (max-width: 990px) {
  .project_card .images .backdrop {
    position: absolute;
    top: 5;
    left: 0;
    z-index: 0;
  }
  .project_card .project_card_flip{
    flex-direction: column;
  }
  .project_card .images {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 0px 1px 0px;
  }
  s .project_card .text .icon,
  .project_card_flip .text .icon {
    max-width: 50px;
    max-height: 50px;
  }
  .project_card,
  .project_card_flip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 30px;
  }
  .container {
    margin: 0px 0px 50px;
  }
  .project_card .images img,
  .project_card .images,
  .project_card_flip .images img,
  .project_card_flip .images {
    /* max-width: 100%; */
    max-width: 80vw;
    /* height: fit-content; */
    width: 90%;
    max-width: 350px;
  }
  .project_card .text,
  .project_card_flip .text {
    width: 90%;
    max-width: 350px;
    margin: 30px auto 0px;
  }
  .carousel {
    height: max-content;
  }
  .project_card .text h3,
  .project_card_flip .text h3 {
    font-size: 1.5rem;
  }
  .project_card .text p,
  .project_card_flip .text p {
    font-size: 1.2rem;
  }
  .project_card .text a,
  .project_card_flip .text a {
    font-size: 1rem !important;
  }
}
