.event_card {
  margin: 1rem 65px;
  /* flex-basis: 45%; */
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: grid;
  padding: 19px 0px;
}
.img {
  height: 250px;
  width: 250px;
;
}
.event_card h3 {
  /* width: 469px; */
}
.event_card p {
  /* width: 419px; */
}

.event_card {
  /* width: 450px; */
}
.link {
  display: flex;
  margin-top: 20px;
}
.linktext {
  border-bottom: 1px solid black;
  padding-right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.linklogo {
  margin-top: 4.5px;
}
.date {
  font-size: 16px;
  padding: 15px 0px;
  font-weight: 600;
  color: hsl(0, 44%, 21%);
}

.event_card h3 {
  padding: 5px 0px;
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 152.6%;
  letter-spacing: 0.01em;
  color: #38465e;
}

.event_card p {
  /* padding: 5px 0px; */
  margin: 0px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 181.6%;
  letter-spacing: 0.01em;

  color: #38465e;
}
.event_card p span b {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #38465e;

}
.event_card p span{
  margin-left: 10px;
}

.event_card small {
  margin: 20px 0px;
  width: 82px;
  height: 29px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #ce648d;
  background: rgba(221, 55, 55, 0.3);
  text-align: center;
}

 .img {
  background: #c4c4c4;
  border-radius: 15px;
}

.img:hover{
  box-shadow: 0px 94px 80px rgba(0, 0, 0, 0.07), 0px 60.9259px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 36.2074px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 18.8px 13px rgba(0, 0, 0, 0.035), 0px 7.65926px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.74074px 3.14815px rgba(0, 0, 0, 0.0168519);
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .event_card h3,
  .event_card p {
    height: auto;
  }
  .event_card h3 {
    font-size: 1.6rem;
  }
  .event_card p {
    font-size: 1.1rem;
  }
  .event_card img {
    /* min-height: 288px; */
    width: 100%;
  }
  .event_card small {
    font-size: 1rem;
  }
  .event_card {
    /* width: 90%; */
    /* margin: 0px 0px 20px; */
    /* max-width: 90vw; */
  }
  .img {
   min-height: 288px;
   width: 100%;
  }
  .event_card h3 {
    width: 100%;
  }
  .event_card p {
    width: 100%;
  }
}
