.button{
width: 284px;
height: 60px;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.15em;
color: #FFFFFF;
background: #313131;
}
.button span{
    margin: 0px 10px;
    position: relative;
    top: 2px;
}