.button {
    padding: 12px 22px !important;
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: #ffffff;
    background: #313131;
    border: none;
    /* margin: 20px 0px 50px; */
}

.secondary_button {
    /* height: 60px; */
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: #ffffff;
    background: #313131;
    border: none;
    /* margin: 20px 0px 50px; */
}

.secondary_button {
    /* height: 60px; */
    /* border-radius: 5px; */
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: #313131;
    width: fit-content !important;
    border: none;
    background: transparent !important;
    /* border-bottom: 2px solid #313131 !important; */
}

.linkWrapper .secondary_button,
.linkWrapper .button {
    display: flex;
    align-items: center;
    /* width: 100%; */
}

.linkWrapper .secondary_button span {
    border-bottom: 3px solid #313131;
    padding-bottom: 4px;
    min-width: fit-content;
}

.linkWrapper .secondary_button img {
    height: 18px;
    transform: translateX(5px);
    width: auto;
    transition: transform 1s;
    margin-bottom: 4px;
}

.linkWrapper:hover .secondary_button img {
    transform: translateX(15px);
}

.button img {
    transition: transform 1s;
    height: 35%;
    transform: translateX(5px);
    width: auto;
}

.button:hover {
    background: #464646 !important;
}

.button:hover img {
    transform: translateX(15px);
}

.linkWrapper {
    width: fit-content;
}


/* .carousel .secondary_button  img {
    display: block;
  } */

.button span,
.secondary_button span {
    /* margin: 0px 0px 0px 10px; */
    position: relative;
    top: 2px;
}

.linkWrapper:hover .button {
    background: #464646;
}

@media screen and (max-width: 999px) {

    .button a,
    .secondary_button a {
        font-size: 1rem;
    }
}