.heading h2 {
  /* Featured articles */

/* width: 286px; */
/* height: 55px; */
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 2.5rem;
line-height: 152.6%;
/* identical to box height, or 55px */
letter-spacing: 0.01em;

color: #38465E;
}

@media screen and (max-width: 999px) {
  .heading{
    text-align: center;
    font-size: 1.6rem !important;
  }
}