.container {
  display: flex;
  justify-content: center;
  background: #5e25fe;
  width: 100%;
  padding: 80px 0 0px;
}
.intro {
  /* background-color: red; */
  width: 100%;
  max-width: 1200px;
  /* height: 800px; */
  display: flex;
  /* padding: 80px 30px 50px; */
  align-items: center;
  margin-bottom: 10px;
  border: none;
  /* min-height: 725px; */
}
.intro .left {
  /* background-color: green !important; */
  /* padding: 0px 20px; */
  width: 50%;
  /* display: grid; */
  /* grid-template-rows: 200px 100px 100px; */
  /* place-items: center; */
  /* padding: 0px 20px; */
}

.intro .right {
  padding: 0px 20px;
  /* background-color: red !important; */
  width: 50%;
  display: flex;
  align-items: center;
}
.intro h1 {
  /*height: 216px;*/
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 112%;
  letter-spacing: 0.01em;
  color: #fcfcfc;
}
.intro p {
  font-family: "Avenir";
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fcfcfc;
  margin: 0px;
}
.intro a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #fcfcfc;
  /* border-bottom: 1px solid; */
  padding-bottom: 9px;
  width: fit-content;
}
.intro a span img {
  margin: 0px 10px;
  width: 23px;
  /* height: 2px; */
}
.intro .right .img {
  /* height: 625px; */
  width: 243px;
  max-width: 100%;
  /* background: blue; */
  margin: 17px;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.intro button img {
  margin: 0px 0px 5px;
}
.intro button span {
  border-bottom: 3px solid #fcfcfc !important;
}
.intro button {
  /* position: relative; */
  width: 57px;
  height: 78px;
  background: #313131;
  /* font-size: 34px; */
  color: #ffffff;
}
@media screen and (min-width: 999px) {
  .intro h1 {
    /* width: 629px; */
    width: 478px;
  }
  .intro p {
    /* font-size: 20px; */
    /* height: 144px; */
  }
}
@media screen and (max-width: 999px) {
  .intro h1 {
    font-size: 38px;
    text-align: center;
    /* min-width: 300px; */
  }
  .intro p {
    text-align: center;
    /* min-width: 300px; */
    font-size: 20px;
  }
  .intro  .right .img {
    /* display: none; */
    max-width: 35vw !important;
  }
  .intro .big{
      max-width: 100% !important;
  }
  .intro a {
    text-align: center;
    /* min-width: 300px; */
    font-size: 1rem;
  }
  .intro {
    flex-direction: column;
    padding: 0px;
    margin: 0px auto 50px;
    /* max-width: 100%; */
    width: 100%;
    max-width: 90vw;

  }
  .intro .left {
    /* min-width: 100%; */
    width: 100%;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width: 419px;
  }
  .intro .right {
    width: 100%;
    /* display: none; */
    padding: 10px;
    max-width: 419px;
  }
  .intro button {
    /* display: none; */
  }
  /* .intro{
        margin: auto !important;
    } */
}
