.card {
    background: #000000;
    opacity: 0.5;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 25px;
}
.card .bottom{
    display: flex;
    align-items: center;
    /* height: 102px; */
}
.card .bottom img{
    width: 52px;
    height: 52px;
}
.card .bottom p,
.card .bottom h1 {
    width: 209px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 135.6%;
    /* or 33px */
    letter-spacing: 0.01em;
    
    color: #ffffff;
}
.card h3 {
    color: #ffffff;
    height: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;    
}
@media screen and (min-width: 990px) {
    .card {
        width: 400px;
        /* width: 372px; */
        height: 381px;        
    }
}
@media screen and (max-width: 990px) {
    .card {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .card {
        width: 300px;
        min-width: 280px;
        height: 350px;
        padding: 20px;
        margin: 10px auto;
    }
    .card .bottom {
        justify-content: space-around;
    }    
}