.card {
  margin: 1rem 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: grid;
  padding: 19px 0px;
  height: fit-content;
  width: 450px;
}
.img {
  min-height: 288px;
 width: 100%;
}
.link {
  display: flex;
  margin-top: 50px;
}
.linktext {
  border-bottom: 1px solid black;
  width: 181px;
  padding-right: 5px;
  font-size: 20px;
}
.linklogo {
  margin-top: 4.5px;
}
.date {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 600;
  color: #878787;
}
.card h3 {
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 152.6%;
  letter-spacing: 0.01em;
  color: #38465e;
}

.card p {
  margin: 0px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #38465e;
}
.card span b {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #38465e;
}
.card p span{
  margin-left: 10px;
}

.card small {
  margin: 20px 0px;
  width: 82px;
  height: 29px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 181.6%;
  letter-spacing: 0.01em;
  color: #ce648d;
  background: rgba(221, 55, 55, 0.3);
  text-align: center;
}
 .card img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}
.card .case{
  box-shadow: 30.634117px 25.9874px 10px rgba(141, 138, 138, 0.8);
  margin-bottom: 50px;
}

@media screen and (max-width: 999px) {
  .card h3,
  .card p {
    height: auto;
  }
  .card h3 {
    font-size: 1.6rem;
  }
  .card p {
    font-size: 1.1rem;
  }
  .img {
  min-height: 288px;
   width: 100%;
  }
  .card small {
    font-size: 1rem;
  }
  .card {
    margin: 0px 0px 20px;
    max-width: 100%;
  }
}
