.option p{
    font-family: 'Ubuntu';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
    max-width: 360px;
    cursor: pointer;
}
.option section{
    display: flex;
}

.buttons {
    justify-content: flex-end !important;
}

.option address {
    font-style: normal;
    text-align: right;
}
@media screen and (max-width: 999px) {
    .option p{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    }

}