.services_container {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_container>div>div>h2{
font-size: 36px;
text-align: center;
margin-bottom: 60px;
}

.services_container div .card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.services_container div .card_list > div > div > section{
box-shadow: 0px 0px 0px 0px !important;
}
.services_container div .card_list > div > div > section > p{
  font-size: 20px !important;
}

.services_container div .card_list > div > div > section > h3{
  font-size: 30px !important;
}
